#ext_menu-2 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-2.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-2 .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-2 .mbr-navbar__hamburger {
  color: #c1c1c1;
}
